/* This text is in Lucida Console */
* { 
	font-family: monospace,Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono; 
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: #dddddd;
}
canvas {
  display: block;
}

.header {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 10px;
    font-size: large;
}
.main {
    width: 97%;
    float: left;
    padding: 5px;
}
.left {    
    font-weight: bold;
    float: left;
}
#statistic {
  font-style: bold;
  font-size: larger;
}
.right {
  font-size: small;
  vertical-align: middle;
  margin: 5px;
  margin-top: 0px;
  padding-top:10px;
  text-align: center;
  float: right;
}
.rightTop {
  font-size: small;
  vertical-align: middle;
  margin-bottom: 15px;
  padding-top: 5px;
  text-align: right;
  float: top;
}
.button {
  font-size: large;
  text-align: center;
  vertical-align: middle;
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  background: lightgrey;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
  padding: 10px;
  /*height: 50px;
  padding: 15px;
  margin: 10px;
  float: center;*/
}
.triggerButton {
  font-size: large;
  text-align: center;
  vertical-align: middle;
  color: black;
  text-transform: lowercase;
  text-decoration: none;
  background: lightgrey;
  border-radius: 10px;
  display: inline-block;
  border: none;
  padding: 10px;
  //width: 40px;
  //height: 40px;
  margin-top: 0px;
  margin-right: 5px;
  float: center;
}
.trigLevel {
  font-size: small;
  text-align: center;
  vertical-align: middle;
  text-transform: lowercase;
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 1px;
  //width: 50px;
  //height: 40px;
  margin: 1px;
  float: center;
}
